body {
    background-image: url("immagini/bg.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    left: 800px;
    right: 800px;
}

.h3a {
    background-color: black;
    color: white;
    font-family: arial;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em green;
    position: absolute;
    top: 370px;
    left: 220px;
}

.h2a {
    background-color: black;
    color: white;
    font-family: italic;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em green;
    position: absolute;
    top: 300px;
    left: 880px;
    right: 880px;
}

      