.user_search form > select {
    width: 200px;
    font-style: italic;
    padding: 2px 10px 5px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #CCC;
    -moz-box-shadow: 2px 2px 5px #CCC;
    -webkit-box-shadow: 2px 2px 5px #CCC;
}

*:focus {
    outline: none;
}

.user_search form > select:focus {
    border: 1px solid #FCA;
    padding: 1px 9px 4px 29px;
    background: none;
}

.user_search input.confirm:hover, .user_search input.confirm:focus {
    color: white;
    cursor: pointer;
    background-color: brown;

}

.label {
    text-shadow: 4px -1px 20px rgba(255, 0, 102, 1);
    font-size: 30px;
}

h2 {
    text-shadow: 4px -1px 20px rgba(255, 100, 102, 1);
    font-size: 20px;

}
